---
layout: layout.njk
title: Courses
---

<h2>Courses</h2>

<ul>
  {% for course in collections.all %}
    {% if "courses" in course.url %}
      <li>
        <a href="{{ course.url }}">
          {{ course.data.title }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>